{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Успешная отправка</title>
    <link rel="stylesheet" href="{% static 'css/succses.css' %}">

</head>
<body>

    <div class="success-message">
        <h2>Ваша конфигурация успешно сохранена!</h2>

        <div class="config-list">
            <h3>Последние сохранённые конфигурации:</h3>

            {% for config in configs %}
            <div class="config-item">
                <h4 class="config-title">Конфигурация #{{ config.id }}</h4>
                <p><strong>Цена:</strong> {{ config.price }}руб.</p>
                <p><strong>Процессор:</strong> {{ config.cpu }}</p>
                <p>Площадка {{ config.cpu_market }} </p>
                <p>Ссылка {{ config.cpu_link}} </p>
                <p><strong>Видеокарта:</strong> {{ config.gpu }}</p>
                <p>Площадка {{ config.gpu_market }} </p>
                <p>Ссылка {{ config.gpu_link}} </p>
                <p><strong>Оперативная память:</strong> {{ config.ram }}</p>
                <p>Площадка {{ config.ram_market }} </p>
                <p>Ссылка {{ config.ram_link}} </p>
                <p><strong>Блок питания:</strong> {{ config.power_supply }}</p>
                <p>Площадка {{ config.power_supply_market }} </p>
                <p>Ссылка {{ config.power_supply_link}} </p>
                <p><strong>Накопитель:</strong> {{ config.memory }}</p>
                <p>Площадка {{ config.memory_market }} </p>
                <p>Ссылка {{ config.memory_link}} </p>
                <p><strong>Охлаждение:</strong> {{ config.cooler }}</p>
                <p>Площадка {{ config.cooler_market }} </p>
                <p>Ссылка {{ config.cooler_link}} </p>
                <p><strong>Корпус:</strong> {{ config.case }}</p>
                <p>Площадка {{ config.case_market }} </p>
                <p>Ссылка {{ config.case_link}} </p>
                <p><strong>Материнская плата:</strong> {{ config.motherboard }}</p>
                <p>Площадка {{ config.motherboard_market }} </p>
                <p>Ссылка {{ config.motherboard_link}} </p>
            </div>
            {% empty %}
            <p>Пока нет сохранённых конфигураций</p>
            {% endfor %}
        </div>

        <a href="{% url 'ComplectPCapp:home' %}" class="btn">На главную</a>
        <div class="video-background">
        <video autoplay muted loop playsinline class="video-bg">
            <source src="{% static 'images/vlhlll.mp4' %}" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
        <div class="video-overlay"></div>
    </div>
</body>
</html>
